*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body, html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient( to left, rgb(179, 37, 189), rgb(28, 100, 152));
    flex-direction: column;
    color: white;
    /* Esconder as barras de rolagem em dispositivos móveis */
    overflow: hidden;

}
header{

}
.container {
    width: 300px;
    background-color: rgba(0 , 0, 0, 0.5);
    border-radius: 3px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px;
    color: white;
}
input{
    background: none;
    margin: none;
    border: none;
    border-bottom: solid 1px white;
    outline: none;
    padding: 2px;
    color: white;
}
label{
    font-size: 14px;
}
form > h5{
    padding: 5px;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}
button {
    background: none;
    border: none;
    border-left: solid 1px;
    border-bottom: solid 1px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.424);
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1); /* Define a escala inicial */
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.1); /* Define a escala quando o mouse estiver sobre o botão */
}

header, footer{
    background: rgba(0 , 0, 0, 0.1);
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0 0 8px rgb(67, 29, 29);

}
header > h2{
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);
}
footer > p{
    padding: 5px;
}
textarea{
    background: none;
    outline: none;
    color: white;
    padding: 3px;
}